@{
    Layout = null;
    List<Language_Label_Detail> Language = new List<Language_Label_Detail>();
    Language = ViewBag.Language;
    CCTSP_SchoolMaster SchoolInformation = new CCTSP_SchoolMaster();
    SchoolInformation = ViewBag.ShopInfo;
    int LanguageId = SchoolInformation.Lang_id.Value;
    List<SPA.Models.LanguageLabelDetails> LangNameList = ViewBag.LangNameList;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@*ChangePassword*@ @Language.Where(c => c.Order_id == 1).Select(c => c.Value).FirstOrDefault()</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @if (LanguageId > 1)
    {
        @Html.Partial("_LangValidation", "/Scripts/messages_" + LangNameList.Where(c => c.Lang_id == LanguageId).Select(c => c.English_Label).FirstOrDefault().ToLower() + ".js");
    }
    @*@if (LanguageId == 2)
        {
            <script type="text/javascript" src="~/Scripts/messages_de.js"></script>
        }
        @if (LanguageId == 3)
        {
            <script type="text/javascript" src="~/Scripts/messages_fr.js"></script>
        }*@
</head>
<body>
    <div class="welcome-modal">
        <div id="welcome" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body margin-bottom30" id="WelcomeAlert">
                        <h1 class="text-center margin-bottom30"><span>CLICK-AND-GO!</span></h1>
                        <p class="title15 text-center margin-bottom30">@Language.Where(c => c.Order_id == 7).Select(c => c.Value).FirstOrDefault()</p>
                        <a href="/Login/SignIn" class="btn btn-green marginforgotpassword">@Language.Where(c => c.Order_id == 8).Select(c => c.Value).FirstOrDefault()@*OK*@</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sign-in">
        <h1 class="title-white14">
            @Language.Where(c => c.Order_id == 1).Select(c => c.Value).FirstOrDefault() @*Change Password*@
            @if (SchoolInformation.SchlWebsite != null && SchoolInformation.SchlWebsite != "")
            {
                if (SchoolInformation.SchlWebsite.ToString().Contains("http://"))
                {
                    <a href=@SchoolInformation.SchlWebsite class="pull-right icon-home">
                        <i class="fa fa-home"></i>
                    </a>
                }
                else
                {
                    string WebsiteUrl = "http://" + SchoolInformation.SchlWebsite;
                    <a href="@WebsiteUrl" class="pull-right icon-home">
                        <i class="fa fa-home"></i>
                    </a>
                }
            }
            else
            {
                <a href="/Home/Home" class="pull-right icon-home">
                    <i class="fa fa-home"></i>
                </a>
            }
            @*<a href="/Home/Home" class="pull-right icon-home">
                    <i class="fa fa-home"></i>
                </a>*@
        </h1>
        <div class="sign-in-form">
            <form id="ChangePasswordForm" method="post" action="/Login/ChangeNewPassword">
                @Html.AntiForgeryToken()
                <div class="alert alert-danger" style="display: none"></div>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group margin-bottom20">
                    <div class="inner-addon left-addon">
                        <i class="fa fa-key"></i>
                        <input type="password" class="form-control spa-text-box required" placeholder="@Language.Where(c => c.Order_id == 3).Select(c => c.Value).FirstOrDefault()" name="Password" id="Password" minlength="6" />
                        @*@Html.Editor(@Language.Where(c => c.Order_id == 2).Select(c => c.Value).FirstOrDefault(), new { htmlAttributes = new { @class = "form-control spa-text-box required", @placeholder = @Language.Where(c => c.Order_id == 3).Select(c => c.Value).FirstOrDefault() "Enter New Password", Type = "password", @id = "Password" } })*@
                    </div>
                    @Html.ValidationMessage("Password", "", new { @class = "text-danger" })
                </div>
                <div class="form-group margin-bottom20">
                    <div class="inner-addon left-addon">
                        <i class="fa fa-key"></i>
                        <input type="password" class="form-control spa-text-box required" placeholder="@Language.Where(c => c.Order_id == 5).Select(c => c.Value).FirstOrDefault()" name="confirmPassword" id="confirmPassword" equalto="#Password" />
                        @*@Html.Editor(@Language.Where(c => c.Order_id == 4).Select(c => c.Value).FirstOrDefault(), new { htmlAttributes = new { @class = "form-control spa-text-box required", Type = "password", @placeholder = @Language.Where(c => c.Order_id == 5).Select(c => c.Value).FirstOrDefault()"Confirm Password", equalto = "#Password" } })*@
                    </div>
                    @Html.ValidationMessage("confirmPassword", "", new { @class = "text-danger" })
                </div>
                <input type="hidden" value="@ViewBag.UserId" name="UserIdEdit" id="UserIdEdit" />
                <div class="form-group text-center margin-top15">
                    <input type="button" onclick="ChangeNewPassword()" class="btn btn-green" id="btnLogin" value="@Language.Where(c => c.Order_id == 6).Select(c => c.Value).FirstOrDefault()" /> @*"Submit"*@
                </div>
            </form>
        </div>
        <div class="clearfix"></div>
    </div>
</body>
</html>
