@using SPA.Common
@{
    Layout = null;
    List<Language_Label_Detail> LanguageList = new List<Language_Label_Detail>();
    LanguageList = ViewBag.Language;
    var Language = LanguageList.Where(c => c.Page_Name == "Forgot_Password").ToList();
    ViewBag.Title = LanguageList.Where(c => c.Page_Name == "Title" && c.Order_id == 18).Select(c => c.Value).FirstOrDefault();
    CCTSP_SchoolMaster SchoolInformation = new CCTSP_SchoolMaster();
    SchoolInformation = ViewBag.ShopInfo;
    List<SPA.Models.LanguageLabelDetails> LangNameList = ViewBag.LangNameList;
    int LanguageId = SchoolInformation.Lang_id.Value;
    string Colorclass = ViewBag.Colorclass;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@*ForgotPassword*@  @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @if (LanguageId > 1)
    {
        @Html.Partial("_LangValidation", "/Scripts/messages_" + LangNameList.Where(c => c.Lang_id == LanguageId).Select(c => c.English_Label).FirstOrDefault().ToLower() + ".js");
    }
    @*@if (LanguageId == 2)
        {
            <script type="text/javascript" src="~/Scripts/messages_de.js"></script>
        }
        @if (LanguageId == 3)
        {
            <script type="text/javascript" src="~/Scripts/messages_fr.js"></script>
        }*@
</head>
<body class="@Colorclass">
    <div class="welcome-modal">
        <div id="welcome" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body margin-bottom30" id="WelcomeAlert">
                        @if (ViewBag.Emailid != null)
                        {
                            <h1 class="text-center margin-bottom30"><span>CLICK-AND-GO!</span></h1>
                            <p class="title15 text-center margin-bottom30">@Language.Where(c => c.Order_id == 6).Select(c => c.Value).FirstOrDefault()  @ViewBag.Emailid</p>
                        }
                        else
                        {
                            <h1 class="text-center margin-bottom30"><span>CLICK-AND-GO!</span></h1>
                            <p class="title15 text-center margin-bottom30">@Language.Where(c => c.Order_id == 5).Select(c => c.Value).FirstOrDefault()</p>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*@if(ViewBag.ErrorMessage=="Registered")
        {
            <script>
                $.post("/Product/GetDataOfLanguage?Text=Sorry From&id=29", function (data) {
                    $.post("/Product/GetDataOfLangauge?Text=You are not registered user&id=30", function (data1) {
                        $("#ErrorMsgAlert").html("<h1 class=\"text-center margin-bottom30\">" + data + "<span>SmartShop</span></h1><p class=\"title15 text-center margin-bottom30\">"+data1+"</p>");
                        $('#ErrorMsg').modal("show");
                    })
                });

            </script>
        }*@
    <div class="sign-in">
        <h1 class="title-white14">
            @Language.Where(c => c.Order_id == 1).Select(c => c.Value).FirstOrDefault() @*Forgot Password*@
            @if (SchoolInformation.SchlWebsite != null && SchoolInformation.SchlWebsite != "")
            {
                if (SchoolInformation.SchlWebsite.ToString().Contains("http://"))
                {
                    <a href=@SchoolInformation.SchlWebsite class="pull-right icon-home">
                        <i class="fa fa-home"></i>
                    </a>
                }
                else
                {
                    string WebsiteUrl = "http://" + SchoolInformation.SchlWebsite;
                    <a href="@WebsiteUrl" class="pull-right icon-home">
                        <i class="fa fa-home"></i>
                    </a>
                }
            }
            else
            {
                <a href="/Home/Home" class="pull-right icon-home">
                    <i class="fa fa-home"></i>
                </a>
            }
            @*<a href="/Home/Home" class="pull-right icon-home">
                    <i class="fa fa-home"></i>
                </a>*@
        </h1>
        <div class="sign-in-form">
            <form name="ChangePasswordForm" id="ChangePasswordForm" method="post" action="/Login/ForgotPassword">
                @Html.AntiForgeryToken()
                <div class="alert alert-danger" style="display: none"></div>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group margin-bottom20">
                    <div class="inner-addon left-addon">
                        <i class="fa fa-user"></i>
                        @Html.Editor("PhoneNo", new
                   {
                       htmlAttributes = new
                       {
                           @class = "form-control spa-text-box required number",
                           @minlength = 10,
                           @maxlength = 12,
                           @placeholder = @Language.Where(c => c.Order_id == 4).Select(c => c.Value).FirstOrDefault()@*"Enter phoneno"*@ }
                   })
                    </div>
                    @Html.ValidationMessage("PhoneNo", "", new { @class = "text-danger" })
                </div>
                <div class="form-group text-center margin-top15">
                    <input type="submit" class="btn btn-green" id="btnLogin" value="@Language.Where(c => c.Order_id == 3).Select(c => c.Value).FirstOrDefault()" /> @*submit*@
                </div>
            </form>
        </div>
        <div class="clearfix"></div>
    </div>
</body>
</html>
<script>
    $("#ChangePasswordForm").validate();

</script>
@if (ViewBag.AlreadyRegistered == "YES")
{
    <script>
        $('#welcome').modal("show");
    </script>
}
@if (ViewBag.AlreadyRegistered == "NO")
{
    <script>
        $('#welcome').modal("show");
    </script>
}