@{
    Layout = null;
    List<Language_Label_Detail> Language = new List<Language_Label_Detail>();
    Language = ViewBag.Language;
}
<div class="create-employee-form shop-owner-setup">
    <form id="ChangePasswordForm" action="/Shop/ChangePasswordEdit" method="post">
        <div class="col-lg-14 col-lg-offset-5 col-md-16 col-md-offset-4">
            @Html.AntiForgeryToken()
            <div class="alert alert-danger" style="display: none"></div>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <div class="col-lg-7 col-md-8 col-sm-7">
                    @Html.Label(@Language.Where(c => c.Order_id == 1).Select(c => c.Value).FirstOrDefault() + " *", htmlAttributes: new { @class = "form-label spa-label-bold" })
                </div>
                <div class="col-lg-17 col-md-16 col-sm-17">
                    <div class="form-group">
                        @Html.Editor("CTPASSWORD", new { htmlAttributes = new { @class = "form-control spa-text-box required", @id = "PhoneNo", @size = 10, @type = "password", @placeholder = @Language.Where(c => c.Order_id == 6).Select(c => c.Value).FirstOrDefault(), @minlength = "6", autocomplete = "off" } })
                        @Html.ValidationMessage("CTPASSWORD", "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-7 col-md-8 col-sm-7">
                    @Html.Label(@Language.Where(c => c.Order_id == 2).Select(c => c.Value).FirstOrDefault() + " *", htmlAttributes: new { @class = "form-label spa-label-bold" })
                </div>
                <div class="col-lg-17 col-md-16 col-sm-17">
                    <div class="form-group">
                        @Html.Editor("NWPASSWORD", new { htmlAttributes = new { @class = "form-control spa-text-box required", @id = "NWPASSWORD", @type = "password", @placeholder = @Language.Where(c => c.Order_id == 7).Select(c => c.Value).FirstOrDefault(), @minlength = "6", autocomplete = "off" } })
                        @Html.ValidationMessage("NWPASSWORD", "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-7 col-md-8 col-sm-7">
                    @Html.Label(@Language.Where(c => c.Order_id == 3).Select(c => c.Value).FirstOrDefault() + " *", htmlAttributes: new { @class = "form-label spa-label-bold" })
                </div>
                <div class="col-lg-17 col-md-16 col-sm-17">
                    <div class="form-group">
                        @Html.Editor("CPPASSWORD", new { htmlAttributes = new { @class = "form-control spa-text-box required", @id = "CPPASSWORD", @type = "password", @placeholder = @Language.Where(c => c.Order_id == 8).Select(c => c.Value).FirstOrDefault(), autocomplete = "off", equalto = "#NWPASSWORD" } })
                        @Html.ValidationMessage("CONFIRM PASSWORD", "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-group text-right margin-top20">
                <input type="button" class="btn btn-green" value="@Language.Where(c => c.Order_id == 4).Select(c => c.Value).FirstOrDefault()" onclick="SaveNewPassword();" />
                <input type="button" class="btn btn-black" id="btnPwdCancel" value="@Language.Where(c => c.Order_id == 9).Select(c => c.Value).FirstOrDefault()" />
                @*<input type="button" class="btn btn-black" onclick="GoToEmployeeMaster();" value="Cancel" hidden />*@
            </div>
        </div>
    </form>
</div>


<script>
    $("#btnPwdCancel").click(function ()
    {
        $("#ChangePasswordForm").validate().resetForm();
        $("#ChangePasswordForm")[0].reset();
    });
</script>

