@{
    ViewBag.Title = ViewBag.Title;
    List<SPA.Models.GroupProductList> ProductList = new List<SPA.Models.GroupProductList>();
    List<Language_Label_Detail> Language = new List<Language_Label_Detail>();
    string currency = ViewBag.currency;
    string DurationPre = "Min";
    ProductList = ViewBag.Product;
    Language = ViewBag.Language;
    var LanguageBack = ViewBag.LanguageBack;
    SPA.Models.ShopMasterDetail schoolInformation = ViewBag.SchoolInfo;
}
<ol class="spa-breadcrumbs breadcrumb"></ol>
@if (Session["Message"].ToString() == "Success")
{
    <script>
        $.post("/product/GetDataOfLanguage?Text=Welcome from&id=34",function(data){
            $.post("/product/GetDataOfLanguage?Text=Welcome back Again&id=35",function(data1){
                $("#WelcomeAlert").html("<h1 class=\"text-center margin-bottom30\">"+data+" <span>CLICK-AND-GO!</span></h1><p class=\"title15 text-center margin-bottom30\">"+data1+"</p>");
                $('#welcome').modal("show");
            });
        });
    </script>
    Session["Message"] = "";

}
@if (Session["Remember"].ToString() == "Error")
{
    <script>
        var Text = "ShopMaster!";
        $.post("/Product/GetDataOfLanguage?Text=" + Text + "&id=46", function (data1) {
            $("#WelcomeAlert").html("<h1 class=\"text-center margin-bottom30\"><span>CLICK-AND-GO</span></h1><p class=\"title15 text-center margin-bottom30\">" + data1 + "</p>");
            $('#welcome').modal("show");
        });
    </script>
    Session["Remember"] = "";
}

<div class="form-content">
    @if (Session["heading"].ToString() == "a")
    {@Html.Partial("_ProcessHead")}
    else
    {@Html.Partial("_ProcessHead1")}
    <div class="col-lg-22 col-md-22 col-sm-23">
        @if (schoolInformation.SchlWebsite != null && schoolInformation.SchlWebsite != "")
        {
            if (schoolInformation.SchlWebsite.Contains("http://"))
            {
                <a href="@schoolInformation.SchlWebsite" class="title-green16 pull-right"><i class="fa fa-reply-all margin-right5"></i>@LanguageBack</a>
            }
            else
            {
                string WebsiteUrl = "http://" + schoolInformation.SchlWebsite;
                <a href="@WebsiteUrl" class="title-green16 pull-right"><i class="fa fa-reply-all margin-right5"></i>@LanguageBack</a>
            }
        }
        else
        {
            <a href="@Url.Action("Home", "Home")" class="title-green16 pull-right"><i class="fa fa-reply-all margin-right5"></i>@LanguageBack</a>
        }
    </div>
    <div class="col-lg-20 col-lg-offset-2 col-md-20 col-md-offset-2 col-sm-22 col-sm-offset-1 col-xs-24">
        <div class="choose-your-product table-responsive margin-top20">
            <form id="ClientProductData" method="post" action="/Home/AddClientProductData">
                @if(ProductList.Count>0)
                {
                <div class="product-catalog-box add-vacation-table product-catalog-table padding0 hover-remove">
                    <div class="table-responsive">
                        @foreach (var GroupId in ProductList.Select(c => c.GroupIdByShop).Distinct())
                        {
                            <div class="grouping-product">
                                <div>
                                    <table class="table table-striped margin-top15 grouping-detail-table">
                                        <thead>
                                            <tr>
                                                <th class="textLeft">
                                                    <a class="title-green16  margin-left0 cursor-default">
                                                        @ProductList.Where(c => c.GroupIdByShop == GroupId).Select(c => c.GroupName).FirstOrDefault()
                                                    </a>
                                                </th>
                                                <th></th>
                                                <th class="textLeft">@Language.Where(c => c.Order_id == 1).Select(c => c.Value).FirstOrDefault()@*OFFERS*@</th>
                                                <th class="text-center">@Language.Where(c => c.Order_id == 7).Select(c => c.Value).FirstOrDefault()@*Gender*@</th>
                                                <th class="text-center">  @Language.Where(c => c.Order_id == 2).Select(c => c.Value).FirstOrDefault()@*DURATION*@ </th>
                                                @if (schoolInformation.ShowPrice != null)
                                                {
                                                    <th class="text-center"> @Language.Where(c => c.Order_id == 3).Select(c => c.Value).FirstOrDefault()@*Price*@</th>
                                                }
                                                <th class="text-center">@Language.Where(c => c.Order_id == 4).Select(c => c.Value).FirstOrDefault()@*PRODUCTINFORMATION*@</th>

                                            </tr>
                                        </thead>
                                        @foreach (var item in ProductList.Where(c => c.GroupIdByShop == GroupId).ToList())
                                        {
                                            <tbody id="TbodyProduct">
                                                <tr>
                                                    <td class="width27per"></td>
                                                    <td class="spa-label1 width5per">
                                                        <div class="spa-checkbox checkbox ProductDiv">
                                                            <input id="@item.ProductId" name=@item.ProductId type="checkbox">
                                                            <label for="@item.ProductId" class="form-label spa-label1 padding-left0"></label>
                                                        </div>
                                                    </td>
                                                    <td class="spa-label1 textLeft width30per">@item.ProductName</td>
                                                    @if (item.Gender == "Both")
                                                    {
                                                        <td class="spa-label1 text-center width10per">
                                                            <i class="fa fa-female gendericonSize" aria-hidden="true"></i>
                                                            <i class="fa fa-male gendericonSize" aria-hidden="true"></i>
                                                        </td>
                                                    }
                                                    @if (item.Gender == "male")
                                                    {
                                                        <td class="spa-label1 text-center width10per">
                                                            <i class="fa fa-female gendericonSize opacity0" aria-hidden="true"></i>
                                                            <i class="fa fa-male gendericonSize" aria-hidden="true"></i>
                                                        </td>
                                                    }
                                                    @if (item.Gender == "Female")
                                                    {
                                                        <td class="spa-label1 text-center width10per">
                                                            <i class="fa fa-female gendericonSize" aria-hidden="true"></i>
                                                            <i class="fa fa-male gendericonSize opacity0" aria-hidden="true"></i>
                                                        </td>
                                                    }
                                                    @if (item.Gender == null)
                                                    {
                                                        <td class="spa-label1 text-center width10per"></td>
                                                    }
                                                    <td class="spa-label1 width9per">
                                                        @item.Duration @DurationPre
                                                    </td>
                                                    @if (schoolInformation.ShowPrice != null)
                                                    {
                                                        <td class="spa-label1 width9per">
                                                            @float.Parse(item.Amount.ToString()) @currency
                                                        </td>
                                                    }
                                                    <td class="text-center width10per">
                                                        @if (!string.IsNullOrEmpty(item.SectionDesc))
                                                        {
                                                            <span>
                                                                <i class="fa fa-info-circle spa-icon" data-toggle="popover" data-content="@item.SectionDesc"></i>
                                                            </span>
                                                        }
                                                    </td>
                                                </tr>

                                            </tbody>
                                        }
                                    </table>
                                </div>
                            </div>

                        }
                        @if (ProductList.Count == 0)
                        {
                            <h1></h1>
                        }
                    </div>
                </div>
                <div class="text-right margin-bottom10 margin-top20">
                    @if (Session["heading"].ToString() == "a")
                    {
                        int aHead = 1;
                        <input type="button" class="btn btn-green" id="ClientEmployeeBtn" onclick="ChooseEmployee(@aHead);" value="@Language.Where(c => c.Order_id == 5).Select(c => c.Value).FirstOrDefault()" />  @*next*@
                    }
                    else
                    {
                        <input type="button" class="btn btn-green" id="ClientEmployeeBtn" onclick="ChooseEmployee();" value="@Language.Where(c => c.Order_id == 5).Select(c => c.Value).FirstOrDefault()" />   @*next*@
                    }
                </div>
                }
                else
                {
                    <div class="spa-label1 Nodata text-center">
                        <img src="~/images/No Data_2.png" />
                        <div>@*No Data Found*@ @Language.Where(c => c.Order_id == 8).Select(c => c.Value).FirstOrDefault()</div>
                    </div>
                }
            </form>

        </div>
    </div>
    <div class="clearfix"></div>
</div>
@if (ViewBag.GetPastProductCount > 0)
{
    foreach (var uit in ViewBag.GetPastProduct)
    {
        <script>
            $("#"+@uit).attr("checked", true);
        </script>
    }
}
@if (Session["heading"].ToString() == "a")
{
    <script>
        $('#a1').addClass('present');
    </script>
}
else
{
    <script>
        $('#a1').addClass('present active');
        $('#a2').addClass('present');
    </script>
}
<script>
    $(".header-top").hide();
    $(function () {
        $('[data-toggle="popover"]').popover()
    });
    $('.spa-checkbox input[type="checkbox"]').click(function () {
        var a = $(this).attr("name");
        $.each($('.spa-checkbox input[type="checkbox"]'), function () {
            if ($(this).prop("checked") && $(this).attr("name") != a){$(this).attr("checked", false);}
        });
    });
</script>
